streamlit==1.32.0
flask==2.3.3
gunicorn==21.2.0
requests==2.31.0
websocket-client==1.6.1
websockets==11.0.3
python-dateutil==2.8.2
pandas==2.0.3
numpy==1.26.4
SQLAlchemy==2.0.20
python-dotenv==1.0.0
plotly==5.17.0
matplotlib==3.7.2
backtrader
matplotlib
yfinance==0.2.40   
